<div class="content-wrapper mat-elevation-z8">
  <div class="pvp-section">
    <div class="equipos" fxLayout="column" fxLayoutAlign="start center">
      <div class="title" >Equipos PVP</div>
      <div class="teams" fxLayout="row wrap" fxLayoutAlign="start start">
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="tab-title">2v2</span>
            </ng-template>
            <div class="teams-list">
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="tab-title">3v3</span>
            </ng-template>

            <div class="teams-list">1</div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="tab-title">5v5</span>
            </ng-template>

            <div class="teams-list">1</div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="tab-title">Individual</span>
            </ng-template>

            <div class="teams-list">1</div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
