@import 'src/theme/theme-variables';
:host {
  display: flex;
  flex: 1;
}
.druida, .Druid {
  color: #FF7D0A;
}
.paladin, .Paladin {
  color: #F58CBA;
}
.priest, .Priest {
  color: white;
}
.rogue, .Rogue {
  color: #FFF569;
}
.mage, .Mage {
  color: #40C7EB;
}
.warriors, .Warrior{
  color: #C79C6E;
}
.shamans,.Shaman{
  color: #0070DE;
}
.dk, .Death.Knight {
  color: #C41F3B;
}
.hunter {
  color: #A9D271;
}
.Warlock {
  color: #8787ED;
}
.content-wrapper {
  border-radius: 5px;
  margin-top: -180px;
  background-image: url('/assets/images/background-ligth.jpg');
}
.stats {
  .title {
    font-size: 30px;
  }
  .leader {
    margin-top: 20px;
    .class-icon {
      height: 34px;
      width: 34px;
    }
    span {
      font-size: 36px;
    }
  }
  padding-top: 55px;
  color: white;
  .stats-players {
    .cat {
      padding: 30px;
      min-width: 150px;
      max-width: 150px;
      margin: 25px;
      background-color: transparent;
      min-height: 50px;
      border-radius: 4px;
      .title {
        color: whitesmoke;
      }
      img {
        height: 180px;
      }
    }
  }
}
.roster {
  margin-top: 45px;
  margin-bottom: 45px;
  color: white;
  .title {
    font-size: 30px;
  }
  .lista-players {
    margin-top: 40px;
    width: 91%;
    mat-table {
      width: 100%;
      border: 1px solid rgba($color: #000000, $alpha: 0.4);
      background: transparent;
      mat-header-cell {
        border-bottom: 1px solid rgba($color: #C79C6E, $alpha: 0.8);
        span {
          color: rgba($color: #FFFFFF, $alpha: 0.8);

        }
      }
      mat-row {
        cursor: pointer;
        mat-cell {
          color: white;
        }

        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
        .class-icon {
          width: 25px;
        }
        .round {
          border-radius: 50%;
          width: 10px;
          height: 10px;
          &.true {
            background-color: green;
          }
          &.false {
            background-color: red;
          }
        }
      }
      .mat-column-online {
        flex: 0 1 60px;
      }
      .mat-column-achievementpoints {
        text-align: right;
      }
      .mat-column-profeciones {
        .class-icon {
          margin-right: 5px;
        }
      }
    }
    mat-paginator {
      width: 100%;
      background: transparent;
      z-index: 5;
      color: white;
    }
    .player {
      color: white;
    }
    .class-icon {
      border-radius: 0px;
    }
  }
}
.md-table-pagination md-select:not([disabled]):focus .md-select-value {
  color:white;
 }
