@import 'src/theme/theme-variables';
:host {
  display: flex;
  flex: 1;
}
.full-width {
  display: flex;
  flex: 1 0 auto;
  width: 100%;

  -webkit-box-flex: 1;
}
app-bar {
  z-index: 2;
}

#homepage {
  mat-divider {
    width: 35%;
  }
  .header {
    background-color: #e91e63;
    height: 28vh;
    .hero-text {
      margin: 60px 0px 40px 0px;
      text-align: center;
      h1 {
        color: white;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: 0.01em;
        text-align: center;
        margin-top: 0;
        margin-bottom: 16px;
      }
      span {
        color: white;
        font-weight: 100;
      }
    }
    .social-media {
      a {
        display: inline;
      }
    }
  }
}
