@import 'src/theme/theme-variables';
:host {
  display: flex;
  flex: 1;
}
.full-width {
  display: flex;
  flex: 1 0 auto;
  width: 100%;

  -webkit-box-flex: 1;
}
app-bar {
  z-index: 2;
}

#homepage {
  mat-divider {
    width: 35%;
  }
  .header {
    background-color: #e91e63;
    height: 28vh;
    .hero-text {
      margin: 60px 0px 40px 0px;
      text-align: center;
      h1 {
        color: white;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: 0.01em;
        text-align: center;
        margin-top: 0;
        margin-bottom: 16px;
      }
      span {
        color: white;
        font-weight: 100;
      }
    }
    .social-media {
      a {
        display: inline;
      }
    }
  }
  .stats {
    padding: 55px;
    color: white;
    .title {
      font-size: 30px;
    }
    .stats-players {
      margin: 45px;
      width: 80%;
      .cat {
        padding: 40px;
        min-width: 200px;
        margin: 25px;
        background-color: #e0dede;
        min-height: 50px;
        border-radius: 3px;
        .bar {
          position: absolute;
          top: 0px;
          width: 100%;
          height: 6px;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;

        }
        .druida {
          background-color: #FF7D0A;
        }
        .paladin {
          background-color: #F58CBA;
        }
        .priest {
          background-color: white;
        }
        .rogue {
          background-color: #FFF569;
        }
        .mage {
          background-color: #40C7EB;
        }
        .warriors{
          background-color: #C79C6E;
        }
        .shamans{
          background-color: #0070DE;
        }
        .dk{
          background-color: #C41F3B;
        }
        .hunter {
          background-color: #A9D271;
        }
      }
    }
  }
}
