<div class="full-width mat-typography" id="homepage" fxLayout="column" fxLayoutAlign="center">
  <app-bar class="mat-elevation-z6"></app-bar>
  <header class="header" fxLayout="column" fxLayoutAlign="start center">
    <div class="hero-text mb-16">
      <h1>BlizzardNet Guild</h1>
      <span>Hermandad de Warcraft, un lugar para todos</span>
    </div>
    <div class="social-media" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <a class="social-link" mat-icon-button href="https://github.com/ydroid/blizzardnetWeb" target="_blanck">

        <img src="/assets/icons/discord.svg" />
      </a>
      <a mat-icon-button class="social-link" href="https://github.com/ydroid/blizzardnetWeb" target="_blanck">
        <img src="/assets/icons/facebook-square-color.svg" />
      </a>
    </div>
  </header>
  <div id="content" fxLayout="column">
    <div class="stats" fxLayout="column" fxLayoutAlign="center center">
      <div class="title" fxFlex="100">{{guild?.membercount}} Miembros</div>
      <div class="stats-players" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
        <mat-card class="cat" fxLayout="column" fxLayoutAlign="center center">
          <div class="bar druida"></div>
          <mat-card-title class="title">{{perCents?.druids || 0}}%</mat-card-title>
          <mat-card-subtitle class="subtitle">Druidas</mat-card-subtitle>
        </mat-card>
        <mat-card class="cat" fxLayout="column" fxLayoutAlign="center center">
          <div class="bar paladin"></div>
          <mat-card-title class="title">{{perCents?.paladins || 0}}%</mat-card-title>
          <mat-card-subtitle class="subtitle">Paladines</mat-card-subtitle>
        </mat-card>
        <mat-card class="cat" fxLayout="column" fxLayoutAlign="center center">
          <div class="bar priest"></div>
          <mat-card-title class="title">{{perCents?.priests || 0}}%</mat-card-title>
          <mat-card-subtitle class="subtitle">Sacerdotes</mat-card-subtitle>
        </mat-card>
        <mat-card class="cat" fxLayout="column" fxLayoutAlign="center center">
          <div class="bar rogue"></div>
          <mat-card-title class="title">{{perCents?.rogues || 0}}%</mat-card-title>
          <mat-card-subtitle class="subtitle">Pícaros</mat-card-subtitle>
        </mat-card>
        <mat-card class="cat" fxLayout="column" fxLayoutAlign="center center">
          <div class="bar mage"></div>
          <mat-card-title class="title">{{perCents?.mages || 0}}%</mat-card-title>
          <mat-card-subtitle class="subtitle">Magos</mat-card-subtitle>
        </mat-card>
        <mat-card class="cat" fxLayout="column" fxLayoutAlign="center center">
          <div class="bar warriors"></div>
          <mat-card-title class="title">{{perCents?.warriors || 0}}%</mat-card-title>
          <mat-card-subtitle class="subtitle">Guerreros</mat-card-subtitle>
        </mat-card>
        <mat-card class="cat" fxLayout="column" fxLayoutAlign="center center">
          <div class="bar shamans"></div>
          <mat-card-title class="title">{{perCents?.shamans || 0}}%</mat-card-title>
          <mat-card-subtitle class="subtitle">Chamanes</mat-card-subtitle>
        </mat-card>
        <mat-card class="cat" fxLayout="column" fxLayoutAlign="center center">
          <div class="bar dk"></div>
          <mat-card-title class="title">{{perCents?.dks || 0}}%</mat-card-title>
          <mat-card-subtitle class="subtitle">Death Knigths</mat-card-subtitle>
        </mat-card>
        <mat-card class="cat" fxLayout="column" fxLayoutAlign="center center">
          <div class="bar hunter"></div>
          <mat-card-title class="title">{{perCents?.hunters || 0}}%</mat-card-title>
          <mat-card-subtitle class="subtitle">Cazadores</mat-card-subtitle>
        </mat-card>
      </div>
    </div>
  </div>
</div>


